body {
  background-color: rgb(253,228,242);
}

#root>h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 8px;
}

#todo_new_item {
  margin: 5px;
  border-radius: 12px;
  background-color: rgb(230,139,190);

  div {
    margin-left: 5px;
    padding: 5px;
  }

  input {
    border-color: rgb(230,139,190);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    width: 50%;
    min-width: 350px;
    margin-left: 8px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(249,206,231);
  }
  button {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background-color:  rgb(249,206,231);
    margin: 5px;
    padding: 2px 10px;
  }
}

.error {
  padding: 10px;
  border-color: red;
  border-style: dashed;
  border-radius: 12px;
  margin: 5px;
  background-color: rgb(249,206,231);
}

.tasklist {
  margin: 5px;
  border: 0.2rem outset rgb(244,184,218);
  border-radius: 12px;
  background-color: rgb(230,139,190);

  h1 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 8px;
  }

  div {
    background-color: rgb(249,206,231);
    border-radius: 12px;

    &.todo_list_row {
      min-height: 50px;
    }

    vertical-align: middle;
    margin: 3px;

    .todo_task_buttons {
      float: left;
    }
    .todo_task {
      text-wrap: wrap;
      overflow: visible;
      vertical-align: middle;
      overflow-wrap: break-word;
      line-height: 24px;
    }
  }

  button {
    height: 30px;
    width: 30px;

    border-color: rgb(230,139,190);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin: 3px 3px 6px;
    padding: 16px 16px;
    vertical-align: middle;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    &.button_remove {
      background-image: url(/icons/delete-trash-svgrepo-com.svg);
      background-color: rgb(238,161,205);
      margin-right: 10px;
    }
    &.button_mark_done {
      background-image: url(/icons/like-svgrepo-com.svg);
      background-color: rgb(238,161,205);
    }
  }
}
